.DS_Store
.idea

# SERVER SIDE
##########################

server/*.iml
auto_default_code/

# python fabric
server/fabric/
server/fabfile/

# django migrations
server/djangoapps/*/migrations

# Python compiled byte code
*.pyc

# SQLite3 database
server/*.sqlite3

# Staticfiles
server/staticfiles/

# vrtualenv
server/venv/

#backup
server/backup/

#log
server/logs/*.log

# Elastic Beanstalk Files
server/.elasticbeanstalk/*
server/!.elasticbeanstalk/*.cfg.yml
server/!.elasticbeanstalk/*.global.yml


# CLIENT SIDE
##########################

client/bower_components
client/node_modules
client/typings
